*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
margin-left: auto;
margin-right: auto;
max-width: 1200px;
padding: 0px 30px;
}



/* Header */



header {
    background-color: #74C69D;
    width: 100vw;
    height: 12vh;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo {
    width: 187px;
    display: block;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav1:hover {
    opacity: 0.7;
}


a {
    text-decoration: none;
    color: white;
    font-family: "Work Sans", serif;
    font-size: 20px;
    font-weight: 400;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 0;
    right: -600px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    height: 100vh;
}


.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
    
}

.nav-bar {
    padding: 1rem;
    display: flex;
}



/* ham menu */
.ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;
    cursor: pointer; /* Add cursor pointer */
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

.ham-menu:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.ham-menu span {
    height: 4px; /* Adjust height */
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    
}

li {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}



/* Hero */



.hero {
    background-color: #74C69D;
    padding-bottom: 5rem;
    min-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 50%;
}

.hero-img {
    width: 50%;
}

.hero-img > img {
    width: 100%;
}

.birinchi {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    color:white;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 79.5px;
}

.ikkinchi {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 15px;
}

.matn1 {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    color: white;
    width: 26rem;
    height: 4.75rem;
    margin-top: 15px;
}

.button1 {
    width: 170px;
    height: 48px;
    border-radius: 5px;
    background-color: white;
    border: transparent;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-top: 25px;
}

.button1:hover,
.button2:hover,
.button3:hover {
    opacity: 0.8;
    cursor: pointer;
}



/* Partners */



.partners-companiens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
} 

.partners-content {
    max-width: 411px;
}

.uchinchi {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #74C69D;
    text-align: center;
    padding-top: 60px;
}

.tortinchi {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 16px;
}

.matn2 {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: black;
    margin-top: 16px;
} 

.partners-companiens-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.button2 {
    width: 170px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: transparent;
}


.beshinchi {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: black;
}

.matn3 {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    color: #21252980;
}

.matn4 {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    color: #21252980;
    margin-top: 12px;
    width: 470px;

}



  /* Part 2 */



.partner-info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.info-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.info-2 {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.info1-left {
    width: 50%;
    display: flex;
    flex-direction: column;

   
}

.info1-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.info1-right > img {
    width: 100%;
}

.button3 {
    width: 170px;
    height: 48px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: transparent;
}



/* Teams */



.Teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    padding-bottom: 3rem;
}

.teams-content {
    max-width: 404px;
}

.teams-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    flex-wrap: wrap;
}

.teams-card {
    padding: 20px 30px;
    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.team-member {
    font-family: Crimson Text;
    font-size: 1.5rem;
    font-weight: 750;
    color: black;
}

.job {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.419);
}



/* Footer */



footer {
    background-color: #74C69D;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: 100vw;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.media-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.media-icons > img {
   display: block;
}

.footer-matn {
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffffdf;
}



@media (max-width: 768px) {

    .hamburger {
        display: block;
        margin-right: 0.6rem;
    }


    nav {
        display: none;
    }

    .hero {
        height: 100%;
    }

    .header-wrapper {
        width: 100%;
        padding: 1rem;
    }

    .logo {
        width: 75%;
        margin-left: 0.5rem;
    }
 

    .hero-wrapper {
        flex-direction: column-reverse;
        justify-content: space-between;
        
        margin-top: 5rem;
    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .matn1 {
        width: 90%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .ikkinchi {
        text-align: center;
    }

    .hero-img {
        width: 100%;
    }

    .p-info {
        flex-direction: column;
    }

    .info1-left {
        width: 100%;
    }

    .info1-right {
        width: 100%;
        align-items: center;
    }

    .beshinchi {
        text-align: center;
    }

    .matn3 {
        text-align: center;
    }

    .footer-wrapper {
        justify-content: center;
        gap: 20px;
    }

    .footer-matn {
        text-align: center;
    }
}


@media (max-width: 568px) {
   .hero {
        max-width: 100vw;
   }

}